* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.sectionA {
  width: 100%;
  height: 8vh;
  background-color: blue;
  text-align: center;
  h1 {
    padding-top: 7px;
    color: white;
    font-size: 40px;
  }
}
.sectionB {
  width: 100%;
  // height: 100vh;
  // background-color: brown;
  position: relative;
  .sectionC {
    width: 93%;
    margin: 10px auto;
    height: 60vh;
    // border: thin solid black;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 1fr 1fr;
  }
  .firstPage {
    width: 90%;
    // height: 50vh;
    margin: auto;
    // border: thin solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
    #page {
      div {
        margin: 20px;
      }
      select {
        width: 95%;
        padding: 10px;
        border-radius: 5px;
      }
      select:focus {
        border: thick solid blue;
        box-shadow: opx 1px 10px 0px rgb(88, 88, 88);
      }
      div {
        .generatePin {
          width: 95%;
          padding: 10px;
          background-color: blue;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 20px;
        }
      }
    }
  }
  .secondPage {
    width: 90%;
    // height: 50vh;
    // display: none;
    padding-bottom: 180px;
    margin: auto;
    // border: thin solid black;
    border-radius: 10px;
    box-shadow: 0px 1px 15px 0px rgb(88, 88, 88);
    div {
      margin: 20px;
      input {
        width: 95%;
        padding: 10px;
        border-radius: 5px;
      }
      button {
        width: 95%;
        padding: 10px;
        background-color: blue;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        margin-top: 15px;
      }
    }
  }
  #modal {
    width: 30%;
    // padding: 100px;
    height: 200px;
    box-shadow: 0px 1px 15px 0px rgb(88, 88, 88);
    border-radius: 10px;
    position: absolute;
    top: 100px;
    left: 35%;
    background-color: rgba(255, 255, 255, 0.705);
    text-align: center;
    display: none;
    #error1 {
      color: blue;
      font-size: 25px;
      margin-top: 50px;
    }
    button {
      width: 90%;
      padding: 10px;
      background-color: blue;
      border: none;
      border-radius: 5px;
      color: white;
      font-size: 20px;
      margin-top: 30px;
    }
  }
  #copyfont {
    width: 50px;
    height: 50px;
    border: thin solid black;
    position: absolute;
    top: 273px;
    left: 42%;
  }
  #copyfont:hover {
    color: red;
  }
  #pastefont {
    position: absolute;
    top: 101px;
    left: 88.5%;
  }
  #pastefont:hover {
    color: red;
  }
}

div {
  table {
    width: 100%;
    text-align: center;
    th {
      background-color: black;
      color: red;
      padding: 9px;
    }
  }
}

<<<<<<< HEAD
// @media (max-width: 630px) {
//   .sectionB {
//     width: 100%;
//     // height: 100vh;
//     // background-color: brown;
//     position: relative;
//     .sectionC {
//       width: 93%;
//       margin: 10px auto;
//       display: grid;
//       grid-template-rows: 1fr 1fr;
//       grid-template-columns: 1fr;
//       display: none;
//     }
//     .firstPage {
//       width: 90%;
//       // height: 50vh;
//       margin: auto;
//       border-radius: 10px;
//       box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
//       #page {
//         div {
//           margin: 20px;
//         }
//         select {
//           width: 95%;
//           padding: 10px;
//           border-radius: 5px;
//         }
//         select:focus {
//           border: thick solid blue;
//           box-shadow: opx 1px 10px 0px rgb(88, 88, 88);
//         }
//         div {
//           .generatePin {
//             width: 95%;
//             padding: 10px;
//             background-color: blue;
//             border: none;
//             border-radius: 5px;
//             color: white;
//             font-size: 20px;
//           }
//         }
//       }
//     }
//     .secondPage {
//       width: 90%;
//       // height: 50vh;
//       padding-bottom: 180px;
//       margin: auto;
//       // border: thin solid black;
//       border-radius: 10px;
//       box-shadow: 0px 1px 15px 0px rgb(88, 88, 88);
//       div {
//         margin: 20px;
//         input {
//           width: 95%;
//           padding: 10px;
//           border-radius: 5px;
//         }
//         button {
//           width: 95%;
//           padding: 10px;
//           background-color: blue;
//           border: none;
//           border-radius: 5px;
//           color: white;
//           font-size: 20px;
//           margin-top: 15px;
//         }
//       }
//     }
//     #modal {
//       width: 30%;
//       // padding: 100px;
//       height: 200px;
//       box-shadow: 0px 1px 15px 0px rgb(88, 88, 88);
//       border-radius: 10px;
//       position: absolute;
//       top: 100px;
//       left: 35%;
//       background-color: rgba(255, 255, 255, 0.705);
//       text-align: center;
//       display: none;
//       #error1 {
//         color: blue;
//         font-size: 25px;
//         margin-top: 50px;
//       }
//       button {
//         width: 90%;
//         padding: 10px;
//         background-color: blue;
//         border: none;
//         border-radius: 5px;
//         color: white;
//         font-size: 20px;
//         margin-top: 30px;
//       }
//     }
//     #copyfont {
//       // width: 50px;
//       // height: 50px;
//       // border: thin solid black;
//       position: absolute;
//       top: 273px;
//       left: 42%;
//     }
//     #copyfont:hover {
//       color: red;
//     }
//     #pastefont {
//       position: absolute;
//       top: 101px;
//       left: 88.5%;
//     }
//     #pastefont:hover {
//       color: red;
//     }
//   }
 

// }
=======
@media (max-width: 630px) {
  .sectionB {
    width: 100%;
    // height: 100vh;
    // background-color: brown;
    position: relative;
    .sectionC {
      width: 93%;
      margin: 10px auto;
      display: grid;
      grid-template-rows: 1fr 1fr;
      grid-template-columns: 1fr;
      display: none;
    }
    .firstPage {
      width: 90%;
      // height: 50vh;
      margin: auto;
      border-radius: 10px;
      box-shadow: 0px 1px 12px 0px rgb(88, 88, 88);
      #page {
        div {
          margin: 20px;
        }
        select {
          width: 95%;
          padding: 10px;
          border-radius: 5px;
        }
        select:focus {
          border: thick solid blue;
          box-shadow: opx 1px 10px 0px rgb(88, 88, 88);
        }
        div {
          .generatePin {
            width: 95%;
            padding: 10px;
            background-color: blue;
            border: none;
            border-radius: 5px;
            color: white;
            font-size: 20px;
          }
        }
      }
    }
    .secondPage {
      width: 90%;
      // height: 50vh;
      padding-bottom: 180px;
      margin: auto;
      // border: thin solid black;
      border-radius: 10px;
      box-shadow: 0px 1px 15px 0px rgb(88, 88, 88);
      div {
        margin: 20px;
        input {
          width: 95%;
          padding: 10px;
          border-radius: 5px;
        }
        button {
          width: 95%;
          padding: 10px;
          background-color: blue;
          border: none;
          border-radius: 5px;
          color: white;
          font-size: 20px;
          margin-top: 15px;
        }
      }
    }
    #modal {
      width: 30%;
      // padding: 100px;
      height: 200px;
      box-shadow: 0px 1px 15px 0px rgb(88, 88, 88);
      border-radius: 10px;
      position: absolute;
      top: 100px;
      left: 35%;
      background-color: rgba(255, 255, 255, 0.705);
      text-align: center;
      display: none;
      #error1 {
        color: blue;
        font-size: 25px;
        margin-top: 50px;
      }
      button {
        width: 90%;
        padding: 10px;
        background-color: blue;
        border: none;
        border-radius: 5px;
        color: white;
        font-size: 20px;
        margin-top: 30px;
      }
    }
    #copyfont {
      // width: 50px;
      // height: 50px;
      // border: thin solid black;
      position: absolute;
      top: 273px;
      left: 42%;
    }
    #copyfont:hover {
      color: red;
    }
    #pastefont {
      position: absolute;
      top: 101px;
      left: 88.5%;
    }
    #pastefont:hover {
      color: red;
    }
  }
 

}
>>>>>>> 984cfa076140c722b47eba4c711f812a15e456ab
